<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <title>Firefox OS Contribution Hub{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="//mozorg.cdn.mozilla.net/media/img/firefox/favicon.dc6635050bf5.ico">
    <link rel="stylesheet" type="text/css" href="{{ static('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('css/tabzilla.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ static('css/app.css') }}" />
    {% block css %}{% endblock %}
  </head>
  <body>

    <div class="wrapper">

      <header>

        <nav class="navbar navbar-default {% block navbar_sticky %}navbar-sticky{% endblock %}">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed"
                      data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand">
                <a href="{{ url('home') }}">
                  <i class="fxfamilynav-logo hidden-sm">Firefox</i>
                  <span class="logo-wordmark">{% block navbar_wordmark %}Firefox OS {% endblock %}Contribution Hub</span>
                </a>
              </div>
            </div>

            <div class="collapse navbar-collapse navbar-left" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url('devices') }}">Devices</a></li>
                <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                    {% if request.user.is_authenticated() %}
                      <i class="fa fa-user"></i>
                      <span class="profile-word">Me</span>
                    {% else %}
                      <i class="fa fa-sign-in"></i>
                      <span class="profile-word">Connect</span>
                    {% endif %}
                  </a>
                  <ul class="dropdown-menu">
                    {% if request.user.is_authenticated() %}
                      <li><a href="{{ url('profile') }}"><i class="fa fa-eye"></i> Profile</a></li>
                      <li><a href="{{ url('account_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                    {% else %}
                      <li>
                        <a href="javascript:allauth.persona.login('', 'login')"><i class="fa fa-user"></i> Persona</a>
                      </li>
                      <li>
                        <a href="{{ provider_login_url('github') }}"><i class="fa fa-github"></i> Github</a>
                      </li>
                    {% endif %}
                    <form id="_persona_login" method="post" action="{{ url('persona_login') }}">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="" id="_persona_next_url"/>
                      <input type="hidden" name="process" value="" id="_persona_process"/>
                      <input type="hidden" name="assertion" id="_persona_assertion"/>
                    </form>
                  </ul>
                </li>
              </ul>
            </div>

            <div id="tabzilla" class="hidden-xs">
              <a href="https://www.mozilla.org/">Mozilla</a>
            </div>
          </div>
        </nav>

        {% block masthead %}
        {% endblock %}
      </header>

      <div class="page">
        <div class="container">
          {% block content %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endblock %}
        </div>
        <div class="push"></div>
      </div>

    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="https://www.mozilla.org"><img class="footer-logo" src="{{ static('img/footer-mozilla.png') }}" alt="mozilla"></a>
            <p class="license">
              Portions of this content are ©1998–2015 by individual mozilla.org contributors. Content available under a
              <a href="https://www.mozilla.org/en-US/foundation/licensing/website-content/">Creative Commons license</a>.
            </p>
          </div>

          <div class="footer-license col-md-4">
            <div>This is a Participation Team experiment.</div>
            <p>
              <a href="https://github.com/mozilla/feedthefox">Contribute to this app</a>
            </p>
            <p>
              <a href="https://www.mozilla.org/privacy">Privacy</a> &bull;
              <a href="https://www.mozilla.org/about/legal/">Legal</a> &bull;
              <a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a>
            </p>
          </div>

          <div class="col-md-4">
            <ul class="footer-nav">
              <li><a href="https://support.mozilla.org/products/firefox-os" target="_blank">Support</a></li>
              <li><a href="https://developer.mozilla.org/Firefox_OS" target="_blank">Documentation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ static('js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ static('js/bootstrap.min.js') }}"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="{{ static('js/auth.js') }}"></script>
    <script src="{{ static('js/app.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
