{% extends "base.html" %}

{% block navbar_sticky %}{% endblock %}

{% block home_wordmark %}logo-wordmark-home{% endblock %}

{% block navbar_wordmark %}{% endblock %}

{% block masthead %}
  <div class="clear jumbotron">
    <div class="row homescreen">
      <div class="col-sm-6">
        <div class="action">
          <img src="{{ static('img/fxos-wordmark.svg') }}" class="img-responsive" alt="Firefox OS">
        </div>
        <div class="action">
          <a href="{{ url('devices') }}" class="btn btn-success cta">Get it for your device</a>
        </div>
      </div>
      <div class="col-sm-6 hidden-xs">
        <img src="{{ static('img/homescreen.png') }}" class="img-responsive homescreen-img" alt="Firefox OS Homescreen">
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="home-content">
    <div class="row">
      <div class="col-md-6">
        <h2>About</h2>

        <p>
          Welcome to the Firefox OS Participation Hub, your launchpad to
          participate in the Firefox OS project.
        </p>

        <p>
          With the release of Firefox OS 2.5, you can now easily participate and take
          advantage of Mozilla's mobile OS: hack it to match your needs, use it as a
          platform for innovation, port it to any device you want. Give back to the
          project by providing feedback and ideas, contributing code and improving the
          features you care about.
        </p>

        <p>
          Join a vibrant open source community and make Firefox OS a platform for innovation
          that will unlock the power of the web on mobile and connected devices.
        </p>

        <p>
          <a href="{{ url('devices') }}">Find out</a> how you can install Firefox OS on your
          device, and <a href="{{ url('porting') }}">ways to get involved</a>.
        </p>
      </div>

      <div class="col-md-6">
        <h2>Contribute</h2>

        <p>
          <img src="{{ static('img/porting.png') }}" class="home-ctas-img">
          Our goal is to make Firefox OS available to as many people as possible.
          That means enabling Firefox OS to run on existing hardware. If you’re
          interested in learning new skills or if you are already adept at porting,
          we’d love for you to get involved.
        </p>

        <div class="text-center home-ctas">
          <a href="{{ url('porting') }}" class="btn btn-default">Port Firefox OS</a>
        </div>

        <p>
          <img src="{{ static('img/b2gdroid.png') }}" class="home-ctas-img">
          Firefox OS 2.5 Developer Preview for Android replaces the core Android
          homescreen experience with an alternate Firefox OS experience.
        </p>

        <div class="text-center home-ctas">
          <a href="{{ url('b2gdroid') }}" class="btn btn-default">Try B2G Droid</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
