{% extends "base.html" %}

{% block title%} - Profile{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3 profile-details">
      {% if user.photo %}
        <img src="{{ user.photo }}"
             alt="{{ user.get_full_name() }}" class="img-responsive img-circle">
      {% else %}
        <img src="{{ static(settings.DEFAULT_AVATAR) }}"
             alt="{{ user.get_full_name() }}" class="img-responsive img-circle">
      {% endif %}
      {% if user.email %}
        <p>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true">
          </span>
          {{ user.email }}
        </p>
      {% endif %}
      <p>
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        <a href="{{ user|get_mozillian_url }}" target="_blank">{{ user.username }}</a>
      </p>
      {% if user.country %}
        <p>
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          {{ user.country }}
        </p>
      {% endif %}
    </div>

    <div class="col-sm-9">
      <h4>Foxfooding</h4>
      {% if user.devices_info.exists() %}
        <table class="table">
          <thead>
            <tr>
              <th colspan="4">Your devices</th>
            </tr>
          </thead>
          <tbody>
            {% for device_info in user.devices_info.all() %}
              <tr>
                <td>
                  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                  {{ device_info.device.model }}
                </td>
                <td class="profile-imei hidden-sm hidden-xs" title="Your IMEI number is visible only to you">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  {{ device_info.imei }}
                </td>
                <td>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                  Foxfooding not enabled
                </td>
                <td>
                  <a href="{{ url('delete_device_info', id=device_info.id) }}" class="btn btn-danger btn-xs">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <button class="btn btn-default" data-toggle="modal" data-target="#DeviceModal">Add device</button>

      <hr>

      <h4>Privacy</h4>

      <form id="newsletter-form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <p>
            {{ newsletter_form.receive_newsletter }}
            I agree to receive regular emails (at least once a week) from
            Mozilla’s Foxfooding Community Manager to provide updates on the
            program and communicate new tasks.
          </p>
        <button type="submit" name="{{ newsletter_form.prefix }}" class="btn btn-default">Save</button>
        </div>
      </form>

    </div>
  </div>

</div>

<!-- Device Modal -->
<div class="modal fade" id="DeviceModal" tabindex="-1" role="dialog" aria-labelledby="DeviceModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="DeviceModalLabel">Add device</h4>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <label>Device</label>
          <div class="form-group">
            {{ field_with_attrs(device_info_form.device, class='form-control') }}
            {{ device_info_form.device.errors }}
          </div>
          <div class="form-group">
            <label>IMEI</label>
            {{ field_with_attrs(device_info_form.imei, class='form-control') }}
            {{ device_info_form.imei.errors }}
          </div>
          <div class="form-group imei-tos">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" name="{{ device_info_form.prefix }}"
                  class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ static('js/profile.js') }}"></script>
{% endblock %}
