{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ static('css/bootstrap-sortable.css') }}" />
{% endblock %}

{% block content %}
  <h3 class="dashboard-title">Dashboard</h3>
  <i class="fa fa-info-circle"
     title="Help make Firefox OS better. Contribute to prioritizing features or defects by voting for those you most want to see worked on. Report a feature or defect by clicking the ‘+’ button on the right.">
  </i>

  <div class="row">
    <div class="col-md-7 col-xs-12">
      <input id="bug-filter" type="text"
             class="form-control" placeholder="Start typing to filter"
             autocomplete="off">
    </div>
    <div class="col-md-3 col-xs-9">
      <div class="btn-group" role="group">
        <button type="button" class="bug-type btn btn-default active" data-target="#features">Features</button>
        <button type="button" class="bug-type btn btn-default" data-target="#defects">Defects</button>
      </div>
    </div>
    <div class="col-md-2 col-xs-3 report">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="reportmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left" aria-labelledby="reportmenu">
          <li><a href="https://bugzilla.mozilla.org/form.fxos.feature" target="_blank">Request Feature</a></li>
          <li><a href="https://bugzilla.mozilla.org/form.fxos.feature?feature_type=Existing%20Feature%20Defect" target="_blank">Report Defect</a></li>
        </ul>
      </div>
    </div>
  </div>

  <table class="bug-list table table-bordered table-responsive sortable">
    <thead>
      <tr>
        <th class="hidden-xs text-center">Bug</th>
        <th colspan="5">Summary</th>
        <th class="hidden-xs hidden-sm">Component</th>
        <th class="hidden-xs text-center" data-defaultsort="desc">Votes</th>
      </tr>
    </thead>
    <tbody id="features" class="bugs-tbody">
      <tr>
        <td colspan="8" class="text-center">
          <div class="loading">fetching bugs...</div>
        </td>
      </tr>
    </tbody>
    <tbody id="defects" class="bugs-tbody">
      <tr>
        <td colspan="8" class="text-center">
          <div class="loading">fetching bugs...</div>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block js %}
  <script src="{{ static('js/moment.min.js') }}"></script>
  <script src="{{ static('js/bootstrap-sortable.js') }}"></script>
  <script src="{{ static('js/dashboard.js') }}"></script>
{% endblock %}
