{% extends "base.html" %}

{% block content %}
  <h3>{{ device.manufacturer }} - {{ device.model }}</h3>

  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% if device.image %}
        <img src="{{ device.image.url }}" alt="{{ device.model }}" class="device-img">
      {% else %}
        <img src="{{ static(settings.DEFAULT_DEVICE_IMG) }}" alt="{{ device.model }}" class="device-img">
      {% endif %}
    </div>
    <div class="col-md-6 col-sm-8 device-body">
      <p>
        {{ device.comment }}
      </p>
      {% if device.link %}
        <a href="{{ device.link }}" class="btn btn-default btn-lg device-doc">
          <img src="{{ static('img/mdn.svg') }}" class="img-responsive mdn">
          Documentation
        </a>
      {% endif %}
    </div>
    <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-4">
      {% if device.builds.all() %}
        {% for build in device.builds.all() %}
          <button href="{{ build.link }}" class="btn btn-success btn-lg device-builds" data-toggle="modal" data-target="#BuildModal">
            <div class="download-img">
              <i class="fa fa-cloud-download"></i>
            </div>
            <div class="download-text">
              <p class="build-name">{{ build.name }}</p>
              <p class="small">{{ build.comment }}</p>
            </div>
          </button>
        {% endfor %}
      {% else %}
        No builds yet for this device.
      {% endif %}
    </div>
  </div>
{% endblock %}
