{% extends "base.html" %}

{% block title%} - Profile{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3 profile-details">
      {% if user.photo %}
        <img src="{{ user.photo }}"
             alt="{{ user.get_full_name() }}" class="img-responsive img-circle">
      {% else %}
        <img src="{{ static(settings.DEFAULT_AVATAR) }}"
             alt="{{ user.get_full_name() }}" class="img-responsive img-circle">
      {% endif %}
      {% if user.email %}
        <p>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true">
          </span>
          {{ user.email }}
        </p>
      {% endif %}
      <p>
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        <a href="{{ user|get_mozillian_url }}" target="_blank">{{ user.mozillian_username }}</a>
      </p>
      {% if user.country %}
        <p>
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          {{ user.country }}
        </p>
      {% endif %}
    </div>

    <div class="col-sm-9">
      <h4>Foxfooding</h4>
      {% if user.devices_info.exists() %}
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Your devices</th>
            </tr>
          </thead>
          <tbody>
            {% for device_info in user.devices_info.all() %}
              <tr>
                <td>
                  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                  <a href="{{ url('device', manufacturer=device_info.device.manufacturer, model=device_info.device.model) }}">{{ device_info.device }}</a>
                </td>
                <td class="pull-right">
                  <a href="{{ url('delete_device_info', id=device_info.id) }}" class="btn btn-danger btn-xs">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <button class="btn btn-default" data-toggle="modal" data-target="#DeviceModal">Add device</button>

      <form id="newsletter-form" method="post">
        {% csrf_token %}
        <hr>
        <div class="form-group">
          <p>
            {{ newsletter_form.foxfooding_interest }}
            Check this box if you're interested in participating in the Foxfooding program and
            want to get notified by email once a foxfooding build is available for your device
          </p>
        </div>
        <hr>
        <h4>Privacy</h4>
        <div class="form-group">
          <p>
            {{ newsletter_form.receive_newsletter }}
            I agree to receive regular emails (at least once a week) from
            Mozilla’s Foxfooding Community Manager to provide updates on the
            program and communicate new tasks.
          </p>
        </div>
        <input type="hidden" name="newsletter">
      </form>
    </div>
  </div>

  <!-- Device Modal -->
  <div class="modal fade" id="DeviceModal" tabindex="-1" role="dialog" aria-labelledby="DeviceModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="DeviceModalLabel">Add device</h4>
        </div>
        <form method="POST" id="device-form">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group {% if device_info_form.device.errors %}has-error{% endif %}">
              <label class="control-label">Device</label>
              {{ field_with_attrs(device_info_form.device, class='form-control') }}
              {{ device_info_form.device.errors }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" name="{{ device_info_form.prefix }}"
                    class="btn btn-primary" id="imei-submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ static('js/profile.js') }}"></script>
{% endblock %}
